
*.dll
*.pdb
*.nuspec
*.cache
*.user
*.nupkg
*.props
*.targets
*.CopyComplete
*.lock
.vs/AppSettings.Loader/v15/.suo
*.ide
*.ide-shm
*.ide-wal
.vs/config/applicationhost.config
AppSettings.Loader/obj/Release/netstandard2.0/AppSettings.Loader.AssemblyInfo.cs
AppSettings.Loader/obj/Release/netstandard2.0/AppSettings.Loader.csproj.FileListAbsolute.txt
AppSettings.Loader/obj/Release/netstandard2.0/AppSettings.Loader.AssemblyInfo.cs
AppSettings.Loader.Example/bin/Debug/netcoreapp2.0/AppSettings.Loader.Example.deps.json
AppSettings.Loader.Example.Mvc/obj/Debug/netcoreapp2.0/NuGet/FAB31960AE34ADAA4A2F516C10D4C07C97FCF883/AppSettings.Loader/1.0.1/Configs/AppSettings.cs
/src/Kakous.WebSocket/bin/Debug/netstandard2.0/Kakous.WebSocket.deps.json
/src/Kakous.WebSocket/obj/Debug/netstandard2.0/Kakous.WebSocket.AssemblyInfo.cs
/src/Kakous.WebSocket/obj/Debug/netstandard2.0/Kakous.WebSocket.csproj.FileListAbsolute.txt
/src/Kakous.WebSocket/obj/project.assets.json
/src/Example/bin/Debug/netcoreapp2.0/Example.deps.json
/src/Example/bin/Debug/netcoreapp2.0/Example.runtimeconfig.dev.json
/src/Example/bin/Debug/netcoreapp2.0/Example.runtimeconfig.json
/src/Example/obj/Debug/netcoreapp2.0/Example.AssemblyInfo.cs
/src/Example/obj/Debug/netcoreapp2.0/Example.csproj.FileListAbsolute.txt
